form {
  text-align: center;
}

.nav_bar {
  margin-top: -15px;
  height: 6vh;
  background-color: black;
  width: 100%;
  color: white;
  padding-top: 5px;
}

.logo {
  font-family: TOXIA;
  margin-left: 20px;
  display: inline-block;
}

.user_name_navbar {
  display: inline-block;
  margin-left: 22%;
  margin-right: 5%;
}

.dashboard_link {
  margin-right: 5%;
}

.profile_link {
  margin-right: 5%;
}

.logout_link {
  margin-right: 5%;
}

.name_box {
  margin-top: -20px;
  font-family: Garamond;
}

.name_box h2 {
  font-size: 3em;
  color: black;
}

.blahber_monster {
  z-index: -1;
}

div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}

div h2 {
  font-size: 1.25em;
  color: purple;
}

div h4 {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /*width: 6em;*/
    margin-bottom: 0;
}

div h1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*width: 6em;*/
    width: 100%;
    font-family: TOXIA;
    font-size: 8em;
    margin-bottom: 0;
    text-shadow: 3px 3px purple;
}



.login {
  display: inline-block;
  text-align: center;
  margin: 2em;
}

.signup {
  display: inline-block;
  margin: 2em;
  /*text-align: center;*/
}

.signup input[type="submit"] {
  background-color: black;
  color: #00A6CF;
  border-radius: 5px;
}

.right_column input[type="submit"] {
  background-color: black;
  color: #00A6CF;
  border-radius: 5px;
}

.followee_column input[type="submit"] {
  background-color: black;
  color: #00A6CF;
  border-radius: 5px;
}


.followee_column input[type="text"] {
  border: 4px solid #D4E6E6;
  margin: 5px;
  border-radius: 5px;
  width: 75%;
}

.followee_column img {
  width: 120px;
  height: auto;
}

.signup input[type="text"] {
  border: 4px solid #D4E6E6;
  margin: 5px;
  border-radius: 5px;
}

.signup input[type="password"] {
  border: 4px solid #D4E6E6;
  margin: 5px;
  border-radius: 5px;
}

.login input[type="submit"] {
  background-color: black;
  color: #00A6CF;
  border-radius: 5px;
}

.login input[type="text"] {
  border: 4px solid #D4E6E6;
  margin: 5px;
  border-radius: 5px;
}

.login input[type="password"] {
  border: 4px solid #D4E6E6;
  margin: 5px;
  border-radius: 5px;
}

.input_wrapper{
  bottom: 0px;
  text-align: center;
  margin-top: 5%;
  background-color: #00A6CF;
  width: 100%;
  position: fixed;
}

.container {
  margin-bottom: 10px;
  margin-top: -20px;
}

.page_wrap {
  width: 75%;
  margin: auto;
  text-align: center;
  border: 1px solid black;
  padding-bottom: 20px;
  background-color: #00A6CF;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 10px 10px black;
}

.followee_column {
  display: inline-block;
  border: 1px solid black;
  width: 20%;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;
}

.followee_column input[type="submit"] {
  background-color: black;
  color: #00A6CF;
  border-radius: 5px;
}

.blah_feed {
  vertical-align: top;
  display: inline-block;
  border: 1px solid black;
  width: 55%;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;
}

.blah_feed input[type="submit"] {
  background-color: black;
  color: #00A6CF;
  border-radius: 5px;
}

.right_column {
  color: black;
  display: inline-block;
  vertical-align: top;
  border: 1px solid black;
  width: 20%;
  background-color: white;
  border-radius: 5px;
  padding-bottom: 20px;
}

.right_column input[type="submit"] {
  background-color: black;
  color: #00A6CF;
  border-radius: 5px;
}

