<div>
    <form action="/dashboard/<%=@user.id%>/blah" method="post">
      <input type="text" name="content" placeholder="Blah blah blah...">
      <input type="submit" value="Blah this!">
    </form>
</div>