<!-- don't need <html> tags; those are supplied via the layout -->
<!DOCTYPE html>
<html lang="en">

  <!-- lines 5-17 are redundant; all supplied via layout -->
  <head>

    <link rel="stylesheet" href="/css/normalize.css">

    <link rel="stylesheet" href="/css/application.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/application.js"></script>

    <title></title>

  </head>

  <body>
    <!-- style tag cannot be within body -->
    <style>
      body {
        background-color: white;
      }
    </style>
    <div class="container">
      <div><h1>Blahber</h1><div>
      <div><img src="http://i.imgur.com/tlOPBv9.jpg"></img></div><br>

      <div class="input_wrapper">
        <div class="login">
          <form action="/login" method="post">
            <p1>LOGIN</p1><br><br>
            <!-- labels on form elements -->
            <input type="text" name="full_name" placeholder="Full Name"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="submit" value="Submit">
          </form>
        </div>

        <div class="signup">
          <form action="/signup" method="post">
            <p1>REGISTER</p1><br><br>
            <input type="text" name="full_name" placeholder="Full Name"><br>
            <input type="password" name="password" placeholder="Password"><br>
            <input type="text" name="email" placeholder="Email"><br>
            <input type="submit" value="Submit"><br>
          </form>
        </div>
      <div>
    </div>

  </body>

</html>
