<div class="container">
  <div><h1>Blahber</h1><div>
  <div><img src="http://i.imgur.com/tlOPBv9.jpg"></img></div><br>

<div class="input_wrapper">
  <div class="login">
    <form action="/login" method="post">
      <p1>LOGIN</p1><br><br>
      <input type="text" name="full_name" placeholder="Full Name"><br>
      <input type="text" name="password" placeholder="Password"><br>
      <input type="submit" value="Submit">
    </form>
  </div>

  <div class="signup">
    <form action="/signup" method="post">
      <p1>REGISTER</p1><br><br>
      <input type="text" name="full_name" placeholder="Full Name"><br>
      <input type="text" name="password" placeholder="Password"><br>
      <input type="submit" value="Submit"><br>
    </form>
  </div>
<div>


</div>