<div class="container">
  <h1 style="text-align: center;">Welcome to Blahber!</h1>


  <div>
    <form action="/login" method="post">
      <p1>Login to Blahber</p1><br><br>
      <input type="text" name="full_name" placeholder="Full Name"><br>
      <input type="text" name="password" placeholder="Password"><br>
      <input type="submit" value="Submit"><br><br><br><br>
    </form>
  </div>

  <div>
    <form action="/signup" method="post">
      <p1>Sign up for Blahber be somebody</p1><br><br>
      <input type="text" name="full_name" placeholder="Full Name"><br>
      <input type="text" name="password" placeholder="Password"><br>
      <input type="submit" value="Submit"><br>
    </form>
  </div>


</div>