<div>
  <h2>Who you can follow...</h2>
    <% @other_users.each do |user| %>
      <div class ="other_followee_box">
        <p><a href="/profile/<%= user.id %>"><%= user.full_name %></a></p>
        <form action="/profile/<%= @user.id %>/follow/<%= user.id %>" method="post">
          <input type="submit" value="Follow Me!">
        </form>
      </div>
    <% end %>
</div>